
.root{
    -fx-background-image: url(admin_background.jpg);
    -fx-background-size: 800 875;
    -fx-font-weight: bold;
    -fx-font-size: 12pt;
}

          /*LABELS*/
.label{
    -fx-background-color: rgb(166,107,55);
    -fx-font-size: 14pt;
    -fx-border-style: solid;
    -fx-padding: 5px;
    -fx-text-fill: rgb(255,255,255);
}

#error_label{
    -fx-background-color: red;
}

            /*BUTTONS*/
.button{
    -fx-background-color: rgb(200,200,200);
    -fx-font-size: 16pt;
    -fx-padding: 5px;
    -fx-text-fill: rgb(0,0,0);
}

.button:hover{
    -fx-background-color: rgb(64,50,33);
    -fx-text-fill: rgb(255,255,255);
    -fx-scale-y: 1.3; 
    -fx-scale-x: 1.1;
    -fx-border-color: rgb(255,255,255);
}

.button, .label{
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
    -fx-border-color: rgb(31,29,19);
    -fx-background-radius: 10px;
}

.text-field{
    -fx-background-color: rgb(166,148,133);
    -fx-text-fill: rgb(255,255,255);
}


