
.root{
    -fx-background-image: url(login_background.jpg);
    -fx-background-size: 850 600;
    -fx-font-weight: bold;
    -fx-font-size: 12pt;
}


          /*LABELS*/
#log_in_error{
    -fx-background-color: rgba(255,0,0,100);
    -fx-font-size: 16pt;
    -fx-padding: 8px;
    -fx-border-style: solid;
}
            /*BUTTONS*/
.button{
    -fx-base: rgb(4,119,191);
    -fx-text-fill: rgb(255,255,255);
    -fx-font-size: 18pt;
}

.button:hover{
    -fx-background-color: rgb(0,22,64);
    /*-fx-text-fill: rgb(0,0,0);*/
    -fx-rotate: 3;
    -fx-scale-y: 1.3; 
    -fx-scale-x: 1.1;
}

#create_btn:hover{
    -fx-rotate: -3;
}

.button, .label{
    -fx-border-width: 3px;
    -fx-border-radius: 10px;
    -fx-border-color: rgb(0,0,0);
    -fx-background-radius: 10px;
}

